<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録画面</title>
</head>
<body style="text-align: center">
	<h4>新規登録画面</h4>
	<!-- エラー表示 -->
	<div th:if="${errorList}" th:each="errorMsg : ${errorList}">
		<p th:text="${errorMsg}" style="color: red"></p>
	</div>
	<!-- テキストボックス部分 -->
	<form th:action="@{/createResult}" method="post">
		<p style="color: grey">半角英数字1~10文字</p>
		<div>
			<input type="text" name="name" placeholder="ユーザー名">
		</div>
		<br>
		<p style="color: grey">半角英数字記号8~20文字</p>
		<p th:if="${errorOverLapping}" th:text="${errorOverLapping}"
			style="color: red"></p>
		<div>
			<input type="text" name="pass" placeholder="パスワード">
		</div>
		<br>
		<p style="color: grey">半角英数字記号1~256文字</p>
		<div>
			<input type="text" name="mail" placeholder="メールアドレス">
		</div>
		<br>
		<!-- ボタン部分 -->
		<input type="submit" value="登録">
	</form>
	<form th:action="@{/login}" method="get">
		<input type="submit" value="戻る">
	</form>
</body>
</html>